*{
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 4em;
    color: #f6bf0e;
    float: right;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
}

img{
    float: left;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    text-align: center;
    color: #f6bf0e;
    background-color: black;
}

.flex-container{
    display: flex;
    height: 700px;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    clear: both;
    align-items: center;
}

#left-col{
    border: 2px solid black;
    width: 500px;
    height: 300px;
}

#right-col{
    border: 2px solid black;
    width: 500px;
    height: 300px;
}
