h1{
    font-size: 3em;
    color: #f6bf0e;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

h2#hidden{
        font-size: 2em;
        color:#e04c5e;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-weight: bold;
        display: none;
        text-align: center;
}

img{
    max-height: 500px;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    text-align: center;
    color: #f6bf0e;
    background-color: black;
}

.customBorder{
    border-style: dashed;
    border-color: #f6bf0e;
}
